.catalog-page {
  &__list {
    width: $content_width;
    margin: auto;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $grey;
      border-radius: 24px;
      padding: 16px;
      margin-bottom: 16px;
      .name {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
      }
      .menu {
        display: flex;

        .text-field {
          width: 180px;
          margin-left: 8px;
        }
        .edit,
        .delete {
          width: 160px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          color: #fff;
          cursor: pointer;
        }
        .edit {
          margin-right: 8px;
          background-color: $green;
        }
        .delete {
          background-color: $red;
        }
      }
    }
  }
  .load-more {
    width: 300px;
    height: 60px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    margin: 30px auto;
  }
  .add-stock {
    padding: 30px;
    width: 400px;

    .message {
      color: $grey;
      margin: 0;

      &.count {
        font-weight: bold;
      }
    }

    .product-block {
      width: calc(100% - 30px);
      margin-top: 30px;
      border: 1px solid $grey;
      padding: 15px;

      .save {
        width: 200px;
        height: 40px;
        border-radius: 8px;
        background-color: $green;
        color: #fff;
        margin: 15px auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
