.add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-weight: 600;
  font-size: 32px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: box-shadow 0.08s linear,
    min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #fafafb;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 4px 8px 3px rgba(60, 64, 67, 0.149);
  }
  &:active {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
      0 1px 3px 1px rgba(60, 64, 67, 0.149);
  }
}
