.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  &__label {
    color: $grey;
    font-size: 16px;
  }
  &__groove {
    width: 60px;
    height: 30px;
    border-radius: 24px;
    background-color: $grey;
    position: relative;

    .touching {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      transition: all 0.2s linear;
      box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
        0 4px 8px 3px rgba(60, 64, 67, 0.149);

      &.active {
        transform: translate(20px, -50%);
        background-color: $green;
      }
    }

    &.active {
      background-color: rgba(53, 172, 25, 0.5);
    }
  }
}
