.save-button {
  cursor: pointer;
  background-color: $blue;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 16px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}
